<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatisplus.mapper.UserMapper">

    <!-- Map<String, Object> selectMapById(Long id);
        resultType="map",这个里面的map就是MyBatis自己默认的Map集合的类型别名，所以resultType的值就是类型别名
    -->
    <select id="selectMapById" resultType="map">

        select id, user_name, age, email from t_user where id = #{id}
    </select>

    <!--    Page<User> selectPageVo(@Param("page") Page<User> page, @Param("age") Integer age);
        注意，这里的resultType="User"是类型别名，到目前为止我们还没有给MyBatis设置过类型别名，可以在yml配置文件里面配置类型别名
        配置类型别名对应的包
  type-aliases-package: com.atguigu.mybatisplus.pojo 或者 type-aliases-package: com.atguigu.*.pojo 这样.
   设置了类型别名对应的包之后，那这个包下面所有的类都可以当成别名，默认的别名就是类名并且不区分大小写
    -->
    <select id="selectPageVo" resultType="User">
select id, user_name, age, email from t_user where age > #{age}
</select>
</mapper>